altair==6.0.0 ; python_version >= "3.10" and python_version < "3.14"
annotated-types==0.7.0 ; python_version >= "3.10" and python_version < "3.14"
attrs==26.1.0 ; python_version >= "3.10" and python_version < "3.14"
blinker==1.9.0 ; python_version >= "3.10" and python_version < "3.14"
cachetools==7.0.5 ; python_version >= "3.10" and python_version < "3.14"
certifi==2026.2.25 ; python_version >= "3.10" and python_version < "3.14"
charset-normalizer==3.4.6 ; python_version >= "3.10" and python_version < "3.14"
click==8.3.1 ; python_version >= "3.10" and python_version < "3.14"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.14" and platform_system == "Windows"
emoji==2.15.0 ; python_version >= "3.10" and python_version < "3.14"
et-xmlfile==2.0.0 ; python_version >= "3.10" and python_version < "3.14"
gitdb==4.0.12 ; python_version >= "3.10" and python_version < "3.14"
gitpython==3.1.46 ; python_version >= "3.10" and python_version < "3.14"
idna==3.11 ; python_version >= "3.10" and python_version < "3.14"
jinja2==3.1.6 ; python_version >= "3.10" and python_version < "3.14"
jsonschema-specifications==2025.9.1 ; python_version >= "3.10" and python_version < "3.14"
jsonschema==4.26.0 ; python_version >= "3.10" and python_version < "3.14"
markupsafe==3.0.3 ; python_version >= "3.10" and python_version < "3.14"
narwhals==2.18.1 ; python_version >= "3.10" and python_version < "3.14"
numpy==2.2.6 ; python_version >= "3.10" and python_version < "3.14"
openpyxl==3.1.5 ; python_version >= "3.10" and python_version < "3.14"
packaging==26.0 ; python_version >= "3.10" and python_version < "3.14"
pandas==2.3.3 ; python_version >= "3.10" and python_version < "3.14"
pillow==10.4.0 ; python_version >= "3.10" and python_version < "3.14"
plotly==5.24.1 ; python_version >= "3.10" and python_version < "3.15"
protobuf==3.20.0 ; python_version >= "3.10" and python_version < "3.14"
pyarrow==23.0.1 ; python_version >= "3.10" and python_version < "3.14"
pydantic-core==2.41.5 ; python_version >= "3.10" and python_version < "3.14"
pydantic==2.12.5 ; python_version >= "3.10" and python_version < "3.14"
pydeck==0.9.1 ; python_version >= "3.10" and python_version < "3.14"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.14"
pytz==2026.1.post1 ; python_version >= "3.10" and python_version < "3.14"
referencing==0.37.0 ; python_version >= "3.10" and python_version < "3.14"
requests==2.33.0 ; python_version >= "3.10" and python_version < "3.14"
rpds-py==0.30.0 ; python_version >= "3.10" and python_version < "3.14"
six==1.17.0 ; python_version >= "3.10" and python_version < "3.14"
smmap==5.0.3 ; python_version >= "3.10" and python_version < "3.14"
streamlit==1.55.0 ; python_version >= "3.10" and python_version < "3.14"
tenacity==9.1.4 ; python_version >= "3.10" and python_version < "3.14"
toml==0.10.2 ; python_version >= "3.10" and python_version < "3.14"
tornado==6.5.5 ; python_version >= "3.10" and python_version < "3.14"
tqdm==4.67.3 ; python_version >= "3.10" and python_version < "3.14"
typing-extensions==4.15.0 ; python_version >= "3.10" and python_version < "3.14"
typing-inspection==0.4.2 ; python_version >= "3.10" and python_version < "3.14"
tzdata==2025.3 ; python_version >= "3.10" and python_version < "3.14"
urllib3==2.6.3 ; python_version >= "3.10" and python_version < "3.14"
watchdog==6.0.0 ; python_version >= "3.10" and python_version < "3.14" and platform_system != "Darwin"
xlrd==2.0.2 ; python_version >= "3.10" and python_version < "3.14"
xlsxwriter==3.2.9 ; python_version >= "3.10" and python_version < "3.14"
